* {
    margin:0;
    border:0;
    padding:0;
    box-sizing: border-box;
    vertical-align: top;
    font-size:xx-large;
}
#wrapper {
    /* width:1000px; */
}
#errors_div {
    height:80px;
}
input {
    border:3px solid black;
}
input[type="submit"] {
    box-shadow: 10px 10px 10px black;
}
.red {
    color:red;
    font-size:medium;
    margin:0;
}